html {
    scroll-behavior: smooth;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    width: 1440px;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
}


.header {
    background-color: #879F84;
    color: bisque;

}

.nav-list {
    margin-left: auto;
    display: flex;
    justify-content: flex;
    align-items: flex-end;
}


.nav-link {
    text-decoration: none;
    padding: 0 20px;
    line-height: 50px;
    transition: 0.5s;
    color: black;
}

.nav-link:hover {
    color: #feeae3
}

.avatar {
    width: 200px;
    height: 200px;
    margin: 20px;
}

.footer {
    display:flex;
    justify-content: space-around;
    align-items:center;
    background-color: #879F84;
    height: 50px;
}


